
<!--mainbody start-->
<div class="boxMain">
	<div class="boxMainLeft">
    	<div class="mainLeftBar">
    	</div>
    </div>
    <div class="boxMainRight">
    
        <div class="castSheet">
        <h2>User Login</h2>
            <div class="inputFormDiv">
                <form method="post" action="./login.php?act=dologin">
                <p>Email: <br /><input type="text" name="email" class="inputFormDivInput" /></p>
                <p>Password: <br /><input type="password" name="password" class="inputFormDivInput" /></p>                
                <p><input type="submit" value="Submit" class="inputSubmit"/></p>
                <p><a>Login</a></p>
                </form>
            </div>
        </div>
        
      
    
  </div>
<div class="clear"></div>
</div>
<!--mainbody end-->
